@import "variables";

.advantages {
  margin: 0 @margin;
  background-color: #ffffff;
}

.advantages__title {
  font-family: @regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: @regular-font-weight;
}

.advantages__list {
  padding-left: 0;
}

.advantages__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 26px;
  padding-left: 0;
}

.advantages__block {
  min-width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-right: @margin;
}

.advantages__description {
  font-family: @font-desc;
  font-weight: @font-desc-weight;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}
