@import "variables";

.advantages {
  margin: 0 30px;
  background-color: #ffffff;
}

.advantages__title {
  font-family: @regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: @regular-font-weight;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.advantages__list {
  padding-left: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 110px;
  }
}

.advantages__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 26px;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 240px;
    min-height: 280px;
    margin-right: 140px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 230px;
    margin-right: 70px;
  }
}

.advantages__block {
  min-width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-right: @margin;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__description {
  font-family: @font-desc;
  font-weight: @font-desc-weight;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}
