@import "variables";

.button {
  width: 280px;
  background-color: @green-color;
  border: none;
  padding: 10px;
  color: @white-color;
  font-family: @regular-font;
  font-weight: @regular-font-weight;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
