@import "variables";

.example {
  padding: (@padding+5px) @padding (@padding+25px);
  background-color: @grey-color;
}

.example__title {
  font-family: @regular-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: @regular-font-weight;
}

.example__description {
  font-family: @font-desc;
  font-weight: @font-desc-weight;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

.example__wrapper {
  display: flex;
}

.example__weight {
  margin-right: 32px;
}

.example__sum {
  font-family: @regular-font;
  font-weight: @regular-font-weight;
  font-size: 14px;
  line-height: 20px;
  color: @black-color;
  text-align: center;
  text-transform: uppercase;
}
