@import "variables";

.main-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: (@padding / 2) @padding @padding @padding;
  background-color: @white-color;
  color: @black-color;

  @media (min-width: @tablet-width) {
    padding: 25px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.main-header__logo {
  width: 34px;
  margin: 0;
}

.main-header__logo-text {
  width: 101px;
  padding-top: 13px;
  //
  //@media (min-width: @tablet-width) {
  //  display: none;
  //}
  //
  //@media (min-width: @desktop-width) {
  //  display: none;
  //}
}
