@import "variables";

.option {
  margin: 0 @margin;
  padding: 0;
}

.choice-list {

  padding: 0;
}

.choice-list__icon {
  margin-bottom: @margin;
  list-style-type: none;
  background-color: @grey-color;
  padding: @padding 0;
}

.choice-list__title {
  font-family: @regular-font;
  font-weight: @regular-font-weight;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto (@margin+10);
}

.choice-list__description {
  font-family: @font-desc;
  font-weight: @font-desc-weight;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: @special-dark-grey;
  display: block;
  margin: 0 auto 40px;
}

.choice-list__link {
  font-family: @regular-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: @regular-font-weight;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-left: @margin;
}
