@import "variables";

.other-products__title {
  font-family: @regular-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: @regular-font-weight;
  text-align: left;
  color: @black-color;
  padding: 25px @padding 36px;
  border-top: solid 1px #ebebeb;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    border: none;
    margin-bottom: 80px;
    padding: 0 0 0 67px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    margin-bottom: 81px;
  }
}

.other-products__title::before {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 4%;
    height: 2px;
    background-color: @green-color;
    top: 20px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 5%;
  }
}

.other-products__title::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 43%;
    height: 2px;
    background-color: @green-color;
    right: 0;
    top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 66%;
  }
}

.other-products__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    margin: 0 110px 86px;
    padding: 0;
  }
}

.other-products__list {
  margin: 0;
  padding: 13px @padding 35px;

  @media (min-width: @tablet-width) {
    border: 1px solid #cdcdcd;
    margin: 0 30px 69px;
    min-width: 708px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 896px;
    margin: 0;
    border: none;
  }
}

.additional-card__name {
  font-family: @regular-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: @regular-font-weight;
  text-align: left;
  color: #222222;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
