@import "variables";


.program-selection {
  margin: 23px 0 32px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.program-selection::before {
  content: "";
  width: 100%;
  color: #d9d9d9;
  height: 1px;
}

.program-selection__title {
  font-family: @regular-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: @regular-font-weight;
  text-align: left;
  color: @black-color;
  margin: 5px 0 37px @margin;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 15px 0 54px 69px;

    @media (min-width: @desktop-width) {
      margin: 0 0 56px 110px;
    }
  }
}

.program__description {
  font-family: @regular-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: @regular-font-weight;
  text-align: left;
  text-transform: uppercase;
  color: @black-color;
  margin-bottom: 10px;
  margin-left: @margin;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin: 0 0 39px 70px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 76px 110px;
  }
}
