@import "variables";


.program-selection {
  padding: 23px @padding 32px;
}

.program-selection__title {
  font-family: @regular-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: @regular-font-weight;
  text-align: center;
  color: @black-color;
  margin-bottom: 37px;
}

.program__description {
  font-family: @regular-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: @regular-font-weight;
  text-align: left;
  text-transform: uppercase;
  color: @black-color;
  margin-bottom: 39px;
}
