@import "variables";

.promo {
  min-height: 65px;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    min-height: 160px;
    margin-bottom: 629px;
  }

  @media (min-width: @desktop-width) {
    min-height: 553px;
    margin: 0;
  }
}

.promo__background {
  position: relative;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/index-background-mobile-cat.jpg");
  min-width: 320px;
  min-height: 302px;
  background-size: contain;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 0;
  margin-bottom: 138px;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/index-background-mobile-cat@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    background: none;
    display: block;
    margin: 0;
    min-height: 256px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    position: inherit;
    align-items: start;
    max-width: 450px;
    min-height: 180px;
    margin: 0 0 52px 13%;
  }
}

.promo__background::after {
  position: absolute;
  content: "";

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    color: @black-color;
    background-color: fade(@green-color, 85%);
    width: 50%;
    height: 694px;
    top: 0;
    left: 50%;
    margin: 0;
    z-index: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/index-background-desktop-cat.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: repeat, no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index/index-background-desktop-cat@2x.jpg");
  }
}

.promo__title {
  font-family: @regular-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: @regular-font-weight;
  text-align: center;
  color: @white-color;
  z-index: 2;
  margin: 27px 0 25px;

  @media (min-width: @tablet-width) {
    color: @black-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0 0 41px 117px;
  }

  @media (min-width: @desktop-width) {
    color: @black-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0 0 40px 0;
  }
}

.promo__description {
  font-family: @regular-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: @regular-font-weight;
  text-align: center;
  text-transform: uppercase;
  color: @white-color;
  z-index: 2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @black-color;
    margin: 0 0 49px 119px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black-color;
    margin: 0;
  }
}

.promo__image {
  position: absolute;
  top: 235px;
  left: 20px;

  @media (min-width: @tablet-width) {
    top: 341px;
    left: 29px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 141px;
    left: 558px;
    z-index: 1;
  }
}

.promo__link {
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  padding: 7px 44px;
  display: block;
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: @green-color;
  color: @white-color;
  text-decoration: none;
  border: none;
  margin: 0 auto;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 30%);
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    padding: 14px 26px;
    z-index: 1;
    left: 120px;
    top: 356px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-left: 13%;
  }
}
