@import "variables";

.selection-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

//fieldset {
//  border: 0 none;
//}

.selection-form__group {
  display: flex;
  flex-direction: column;
  border: 0 none;
}

.selection-form__legend {
  font-family: @regular-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: @regular-font-weight;
  text-align: left;
  color: @black-color;
  margin-bottom: 25px;
}

.selection-form__label {
  margin-bottom: 7px;
}

.selection-form__submit-wrapper {
  margin: 30px 0;
}

.data {
  font-family: @regular-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: @regular-font-weight;
  text-align: left;
  color: #222222;
}

.selection-form__button {
  margin-bottom: @margin;
}

.selection-form__fill-fields {
  font-family: @font-desc;
  font-size: 14px;
  line-height: 16px;
  font-weight: @font-desc-weight;
  text-align: left;
  color: @black-color;
}
